@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/credential.css" asp-append-version="true" />
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form asp-controller="Credential" asp-action="Register" method="post" class="form" id="form1">
			<h2 class="form__title">Sign Up</h2>
			<input type="text" placeholder="012 3456 789" name="PhoneNumber" class="input" />
			<input type="password" placeholder="User*2004#" name="Password" class="input" />
			<input type="password" placeholder="User*2004#" name="ConfirmPassword" class="input" />
			<input type="text" placeholder="Viet Nam" name="Address" class="input" />
			<button type="submit" class="btn">Sign Up</button>
		</form>
	</div>

	<!-- Sign In -->
	<div class="container__form container--signin">
		<form asp-controller="Credential" asp-action="Login" method="post" class="form" id="form2">
			<h2 class="form__title">Sign In</h2>
			<input type="text" placeholder="+84 012 3456 789" class="input" name="PhoneNumber" />
			<input type="password" placeholder="User*2004#" name="Password" class="input" />
			<button type="submit" class="btn">Sign In</button>
		</form>
	</div>

	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<button class="btn" id="signIn" style="margin-bottom: 10px;">
					Sign In
				</button>
				<button class="btn" onclick="loginWithGoogle()">Google+</button>
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp" style="margin-bottom: 10px;">Sign Up</button>
				<button class="btn" onclick="loginWithGoogle()">Google+</button>
			</div>
		</div>
	</div>
</div>

<script>
	const signInBtn = document.getElementById("signIn");
	const signUpBtn = document.getElementById("signUp");
	const fistForm = document.getElementById("form1");
	const secondForm = document.getElementById("form2");
	const container = document.querySelector(".container");

	signInBtn.addEventListener("click", () => {
		container.classList.remove("right-panel-active");
	});

	signUpBtn.addEventListener("click", () => {
		container.classList.add("right-panel-active");
	});


</script>
<script type="module" src="~/js/auth.js" asp-append-version="true"></script>